*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #39297b;
    color: #fff;
}
h1{
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 600;
}
form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
}

form input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    outline: none;
}

form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    outline: none;
}

form button{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    outline: none;
    background: #f72585;
    color: #fff;
    cursor: pointer;
}

h2{
    text-align: center;
    margin: 50px auto 20px;
    font-weight: 600;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}